.profile__edit-button {
    width: 24px;
    height: 24px;
    background: #000000 no-repeat center center url(../../../images/edit-button.svg);
    background-size: 10px;
    cursor: pointer;
    align-self: flex-end;
    border: 1px solid #FFFFFF;
    margin-bottom: 7px;
    padding: 0;
    transition: opacity .3s;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}