.popup__container {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    max-width: 430px;
    align-self: center;
    background-color: #FFFFFF;
    padding: 2px 36px 37px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .popup__container {
        width: calc(100% - 38px);
        min-width: 282px;
        padding: 5px 22px 25px;
        align-items: center;
    }
}