.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    padding: 0;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    background-size: 22px;
    transition: opacity .3s;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
      width: 100%;  
    }
}