.profile__name {
    margin: 0;
    align-self: flex-end;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 768px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}