.popup__close-icon {
    width: 32px;
    height: 32px;
    transform: translate(239px, -72px);
    background-image: url(../../../images/close-icon.svg);
    background-size: cover;
    cursor: pointer;
    transition: opacity .3s;
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        transform: translate(20px, -64px);
        margin-left: auto;
    }
}

.popup__close-icon:hover {
    opacity: .6;
}