.popup__close-icon {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    transform: translate(76px, -42px);
    margin-left: auto;
    background: transparent center/cover url(../../../images/close-icon.svg);
    cursor: pointer;
    transition: opacity .3s;
}

@media screen and (max-width: 768px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        transform: translate(22px, -41px);
        margin-left: auto;
    }
}

.popup__close-icon:hover {
    opacity: .6;
}